<html>
    <head>

    </head>

    <body>
        <h1>
            <%=title%> in EJS
        </h1>
        <ul>
            <% for(var i=0; i<lista.length; i++) {%>
                <li><%=lista[i]%></li>
            <%} %>
        </ul>        
    </body>
</html>